
body {
    background-color:rgb(212, 187, 181);
    color: olive;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.navbar {
    background-color: #ccecf8;
    font-size: 20px;
    max-height: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
}

.navigation .navbar-brand {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

.dropdown-item {
    color: #daf2fa;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #b8ecff;
}

.dropdown-menu .dropdown-item:active {
    background-color: #b8ecff;
}

.nav-link:hover {
    background-color: #abc7d1;
}

.description-content {
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px 30px 5px;
	color: black;
	background-color: rgb(228, 247, 252);
}

.imageNav-content {
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px 30px 40px;
	color: black;
	background-color: rgb(240, 255, 249);
}

.description-header, .imageNav-header {
	padding-top: 15px; 
	padding-left: 5px;
	color: rgb(46, 76, 116);
	font-size: 30px;
	font-weight: bold;
	font-family:'Courier New', Courier, monospace;

}

img{
	width: 100%;
	height: 100%;
}

.description-image {
	float: left;
	width: 60%;
	height: 60%;
}
a {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family:'Courier New', Courier, monospace;
    color: #2c4c5f;
    display: block;
    font-size: 1em;
  
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.active, .imageNav-photo:hover{
    border-color:rgb(62, 28, 250);
    border-style: solid; 
}

table {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}


.image-area-content {
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px 30px 40px;
	color: black;
	background-color: white;
}

.content-header, .image-area-header {
	padding-top: 15px; 
	padding-left: 4px;
	color: black;
	font-size: 26px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}

footer {
    font-family: 'Courier New', Courier, monospace;
}

/* Media Queries */
@media (max-width: 991.98px) {
.navbar-expand-lg{
    background-color: #8edcf8;
}
.navbar{
    max-height: none; 
    padding: inherit;
}

.navbar div{
    margin: inherit; 
    background-color: #8edcf8;  
}
.navbar-brand{
    padding: 10px; 
}
button{
    margin-left: auto; 
}

button:focus {
    outline: 1px dotted;
}

}

