body {
    background-color: linen;
    color: olive;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.navbar {
    background-color: paleturquoise;
    font-size: 25px;
    max-height: 60px;
}

.navigation .navbar-brand {
    color: black;
    background-color: lightseagreen;
    font-size: 25px;

}